{% extends "base.html" %}
{% block body %}
<h1 align="center">Контакты</h1>
<p align="center">Евгений Бизяев<br>Директор.<br>
   Сотрудничество, работа, реклама, вопросы<br>
   +7 (909) 701-9-777<br>
   e.bizyaev@list.ru</p>
<p align="center">Максим Кинстлер<br>
    Оформление заказов, сотрудничество<br>
    +7 (922) 170-21-38</p>
<a align="center" href="https://vk.com/stickersart">Группа ВКонтакте<br></a>
<a align="center" href="https://www.instagram.com/stickersart/">Instagram</a>
{% endblock %}