{% extends "base.html" %}

{% block head %}

{% endblock %}

{% block body %}
<ul>
    <li> Обновление каталогов каждую неделю.</li>
    <li> Продажа в электронном и печатном виде.</li>
    <li> Самые низкие цены в интернете.</li>
    <li> Доставка по Екатеринбургу в течении суток.</li>
    <li> Доставка почтой России в любую точку РФ.</li>
    <li> Несколько способов оплаты.</li>
    <li> Изготовление БРЕНД-стикеров.</li>
    <li> Изготовление дизайнерских футболок.</li>
</ul>

<p><b>"STICKERS Art Shop"</b> - это интернет-магазин, прежде всего занимающийся изготовлением и продажей уникальных дизайнерских наклеек. Наши наклейки - это 100% уникальный продукт, аналогов которого в российском интернете НЕТ. Каждая наклейка - ручная работа дизайнеров магазина.Все цвета после печати остаются таким же, как были на исходниках (без потери яркости и насыщенности).</p>

<p><b>Печатаем наклейки на трех видах покрытия:</b>
    <ul>
        <li>Печать на самоклеющейся бумаге</li>
        <li>Печать на самоклеющейся бумаге с ламинированным покрытием</li>
        <li>Печать на клейкой виниловой плёнке</li>
    </ul>
</p>
<p>Помимо печати все листы из каталогов продаем в электронном варианте</p>
<p>Стикеры можно использовать для самых разных целей. Украшение девайсов (мобильники, ноутбуки, компьютеры, планшеты и т.д.), личных вещей (дневники, блокноты, тетради), автомобилей и их отдельных частей (обклейка в стиле "стикер бомбинга"), предметов интерьера, мебели и прочее.</p>
<p>Официальные филиалы магазина (на момент ноября 2015 года) находятся в городах Екатеринбург и Краснотурьинск (Свердловская область). Поэтому, доставка по этим городам осуществляется в течении суток (максимум - двух). Доставка "Почтой России" в другие города Российской Федерации занимает от 7 до 25 рабочих дней, в зависимости от пункта назначения.</p>
<p>Минимальная сумма заказа в нашем магазине:
    <ul>
        <li>400 рублей для жителей Екатеринбурга</li>
        <li>600 рублей для жителей других городов РФ</li>
    </ul>
</p>
<p>Что касается покупок листов в электронном варианте - минимальная сумма заказа на этот метод НЕ РАСПРОСТРАНЯЕТСЯ.</p>
{% endblock %}
